.content{
    background-color: white;
}
header{
  background-color:#D694BE;
  width: 100%;
  height: 70px;
  margin-top: 0 auto;
}
nav.sidebar{
  background-color: #D2D2D6;
  width: 200px;
  height: 100%;
  position: fixed;
  border-right: solid black 2px;
}
ul.nav{
  margin: 0;
  padding: 10px;
}
li.item{
  list-style-type: none;
  font-size: 20px;
  font-family: "Liberation Serif", FreeSerif,sans-serif ;
  color: #5A5A5B;
  padding: inherit;
}

#addBtn{
  background-color: #D694BE;
  color: white;
  font-size: 50px;
  border: none;
  border-radius: 50px;
  margin-top: 400px;
  margin-left: 110px;
  cursor: pointer;
}

.main{
  margin-left: 220px;
  height: 100%;;
}

.popup{
  display:none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 300px;
  top: 100px;
  width: 700px; /* Full width */
  height: 404px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-size: 30px;
  }
}
form.create-new{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}
.create-header{
  background-color: #F3B2DB;
  margin-top: -25px;
  width:700px;
  height: 50px;
  font-size: 20px;
  color: white;
}
.create-close{
  text-align: right;
  font-size: 2em;
  margin-top: -60px;
  cursor: pointer;
}
nav.create-sidebar{
  background-color:#6E6A6D;
  border-right: solid black 2px;
  float: left;
  width: 100px;
  height: 354px;
  margin-bottom: 10px;
}
ul.create-options{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 20px;
  font-weight: 300px;
}
li.create-items{
    list-style-type: none;
    font-size: 18px;
    padding-top: 20px;
    cursor: pointer;
}
